.aboutMe{
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  font-family:  "Karma", serif;
  padding-top: 6.5vw;
  
  &-title{
    font-size: 3vw;
    font-family:  "Karma", serif;
    font-weight: 500;
  }
  &-container{
    display: flex;
    width: 100%;
    height: 90%;
    margin-top: 3vw;
    &-left {
      width: 50%;
      height: 100%;
      margin-left: 2vw;
      background-color: $lightLightGray;
      border-radius: 2vw;
      box-shadow: 10px 10px 20px 0px rgb(0, 0, 0, 0.5);
      padding: 3vw;
        &-sentence{
          font-size: 1.2vw;
          line-height: 2.5vw;   
          font-weight: 500;
        }
      &-bottom{
        margin-bottom: 3vh;
        &-skills{
          margin-top: 1vw;
          font-size: 1.2vw;
          line-height: 3vw;          
          & p{
            font-weight: 700;
            margin-bottom: 0.5vw;
          }
        }
        &-smallPieces{
          margin-bottom: 1vw;
          &-icon img {
            margin-right: 1vw;
            margin-bottom: 1vw;
            width: 3vw;
          }
          &-resume {
            font-size: 1.5vw;
            color: $darkBlue;
            font-weight: 700;
          }
        }
      }
    }
    &-right{
      width: 50%;  
      margin-left: 5vw;    
      margin-top: 3vw;
      &-bottom{          
        &-picture img {
          width: 100%;
          height: 75vh;
          object-fit: cover;
        }
      }  
    }
  }
}
@media (min-width: 1025px) and (max-width: 1150px){
  .aboutMe{
    &-container-left{
      &-sentence{
        font-size: 1.5vw;
      }
      &-bottom {
        &-skills{
          font-size: 1.5vw;
        }
        
      }
      
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .aboutMe{
    &-title{
      font-size: 32px;
    }
    &-container-left{
      &-sentence{
        font-size: 16px;
        font-weight: 500;
      }
      &-bottom {
        &-skills{
          font-size: 18px;
        }
        &-smallPieces{
          &-resume{
            font-size: 16px;
          }
        }
      }
      
    }
  }
}
 



