.homepage {
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  &-title {
    width: 70%;
    height: auto;
    margin-right: 5%;
    margin-top: 10vw;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter Tight', sans-serif;
    &-hello{
      font-weight: 300;
      font-size: 2.5vw;
      margin-bottom: 1.5vw;
    }
    &-name {
      font-weight: 800;
      font-size: 5vw;
      margin-bottom: 1.5vw;
    }
    &-role {
      font-weight: 300;
      font-size: 2.5vw;
      line-height: 1.5;
      margin-bottom: 1.5vw;
    }
  }
  &-icon {
    display: flex;
    flex-direction: row;
    & img {
      height: 3vw;
      margin: 1.5rem;
      margin-left: 0;
    }
  }

  &-photo {    
    position: relative; 
    width: 50%;
    height: auto;
    margin-top: 2vw;
    
    &-img { 
      &.Myself {
        width: 25vw;
        position: absolute;
        z-index: 10;
        top: 2vh;
        transition: transform 0.3s ease;
        &:hover {
          transform:  translateY(-5px);
        }
      }
    }
  }
}


.cursor {
  animation: blink 1s step-start 0s infinite;
}

@media (min-width: 1025px) and (max-width: 1150px) {
  .homepage{
    &-title{
      margin-top: 13vw;
      &-hello{
        font-size: 4vw;
      } 
      &-name{
        font-size: 6vw;
      }
      &-role{
        font-size: 3vw;
      } 
    }
    &-photo {
        margin-top: 5vw;
        & img {
          &.Myself{
            width: 30vw;
          }
          
        }
      } 

  }
}

@media (min-width: 768px) and (max-width: 1024px){
  
}



