.homepage {
  width: 75%;
 height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  &-title {
    width: 70%;
    height: auto;
    margin-right: 5%;
    margin-top: 10vw;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter Tight', sans-serif;
    &-hello{
      font-weight: 300;
      font-size: 2.5vw;
      margin-bottom: 1.5vw;
    }
    &-name {
      font-weight: 800;
      font-size: 5vw;
      margin-bottom: 1.5vw;
    }
    &-role {
      font-weight: 300;
      font-size: 2.5vw;
      line-height: 1.5;
      margin-bottom: 1.5vw;
    }
  }
  &-icon {
    display: flex;
    flex-direction: row;
    & img {
      width: 3vw;
      margin: 1.5rem;
      margin-left: 0;
    }
  }

  &-photo {    
    position: relative; 
    width: 50%;
    height: auto;
    margin-top: 2vw;
    
    &-img { 
      &.Myself {
        width: 25vw;
        position: absolute;
        z-index: 10;
        top: 2vh;
        transition: transform 0.3s ease;
        &:hover {
          transform:  translateY(-5px);
        }
      }
    }
  }
}


.cursor {
  animation: blink 1s step-start 0s infinite;
}

@media (min-width: 1025px) and (max-width: 1150px) {
  .homepage{
    height: 90vh;
    &-title{
      margin-top: 13vw;
      margin-left: 1vw;
      &-hello{
        font-size: 4vw;
      } 
      &-name{
        font-size: 6vw;
      }
      &-role{
        font-size: 3vw;
      } 
    }
    &-photo {
        margin-top: 5vw;
        & img {
          &.Myself{
            width: 30vw;
          }  
        }
      } 
  }
}

@media (min-width: 751px) and (max-width: 1024px){
  .homepage{
    width: 85%;
    height: auto;
    &-title{
      margin-top: 100px;
      margin-right: 10px;
      width: 500px;
      margin-left: 10px;
      margin-bottom: 100px;
      &-hello{
        font-size: 32px;
      } 
      &-name{
        font-size: 54px;
      }
      &-role{
        font-size: 30px;
      } 
    }
    &-icon {
      & img{
        width: 35px;
      }
    }
    &-photo {
        margin-top: 30px;
        & img {
          &.Myself{
            width: 280px;
          }
          
        }
      } 
  }
}
@media (min-width: 431px) and (max-width: 750px){
  .homepage{
    width: 95%;
    &-title{
      margin-top: 50px;
      margin-left: 50px;
      width: 500px;
     
      &-hello{
        font-size: 28px;
      } 
      &-name{
        font-size: 48px;
      }
      &-role{
        font-size: 26px;
      } 
    }
    &-icon {
      flex-direction: column;
      & img{
        width: 30px;
        margin-top: 10px;
      }
    }
    &-photo {
        margin-top: 180px;
        width: 20%;
        & img {
          &.Myself{
            width: 280px;
            left: -250px;
            z-index: 0;
          }
          
        }
      } 
  }
}

@media (max-width: 430px){
  .homepage{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    &-title{
      width: 280px;

      &-hello{
        font-size: 28px;
      } 
      &-name{
        font-size: 36px;
      }
      &-role{
        font-size: 24px;
      } 
    }
    &-icon {
      flex-direction: row;
      & img{
        width: 30px;
        margin-top: 10px;

      }
    }
    &-photo {
      width: 240px;
        margin: 0 auto;
        & img {
          &.Myself{
            position: relative;
            width: 240px;
            z-index: 0;
          }
          
        }
      } 
  }
}


