.nav-bar {
  height: 6vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Karma", serif;
  position: sticky;
  top: 0;
  z-index: 100;
  background: $darkBlue;
  border-bottom: 1px solid $lightGray;
  color: $lightWhite;
  
  .nav-logo{  
    font-size: 4vw;
    margin-left: 12vw;
    margin-top: 1vw;
  }
  .menu-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-right: 8vw;
    font-size: 2vw;
    
    &-items {
      margin-right: 5vw; 
      padding: 0.5rem;
      border-radius: 10px; 
      transition: transform 2s ease ;
      cursor: pointer;
        .dot{
          display: inline-block;
          width: 5px;
          height: 5px;
          background-color: transparent;
          border-radius: 50%;
          margin-right: 10px;
          margin-bottom: 2px;
          font-size: 3rem;
          position: relative;
          transition: transform 2s ease ;
        }
        &:hover { 
          .dot{
            background-color: $lightGray;
          }
                  
        }
      &-link {
        text-decoration: none;
        color: $lightWhite;
       
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1150px) {
  .nav-bar{
    .menu-list{
      margin-right: 5vw;
      font-size: 2vw;
    }
  }

}
