.projects{
  width: 75%;
  margin: 0 auto;
  font-family: 'Inter Tight', sans-serif;
  padding-bottom: 3vw;
  padding-top: 6.5vw;
  &-title {
    font-size: 3vw;
    font-family: "Karma", serif;
    font-weight: 500;
  }
  &-container {
    margin-top: 3vw;

    &-project {  
      display: flex;
      width: 95%;
      height: 20vw;
      background-color: $lightLightGray;
      margin-bottom: 5%;
      margin-left: 5%;
      border-radius: 2vw;
      border: 1px solid $lightGray;
      box-shadow: 5px 10px 20px 0px rgb(0, 0, 0, 0.2);
      & img {
        cursor: pointer;
        width: 90%;
        height: 100%;
        object-fit: cover;
        border-radius: 2vw;
      }
      &-text {
        margin-top: 3%;
        & p.title{
          font-size: 1.5vw;
          font-weight: 700;
          margin-bottom: 3%;
          padding-right: 1vw; 
          line-height: 2vw; 
        }
        &-link {
         
          margin-left: 10%;
          & a{
            display: block;
            margin-bottom: 5%;
            font-weight: 500;
            color: $darkBlue;
            font-size: 1.2vw;
          }
        }
      }  
    } 
  }
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%;
}
.image-description {
  font-family: 'Inter Tight', sans-serif;
  width:90%;
  height: 100%;
  border-radius: 2vw;
  line-height: 2vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  padding-top: 3%;
  top: 0;
  color: $darkBlue;
  font-weight: 500;
  padding: 1vw;
}

.image-container:hover .image-description {
  display: block;
} 


@media (min-width: 1025px) and (max-width: 1150px){
  .projects{
    &-container-project-text-link{
      & a{
        margin-bottom: 1vw;
        font-size: 1.3vw;
      }
    }
    .image-description{
      font-size: 1.1vw;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .projects{
    width: 85%;
    padding-top: 80px;
    &-title{
      font-size: 32px; 
    }
    &-container-project{
      height: 240px;  
      &-text{
        & p.title{
          font-size: 16px;
          margin-bottom: 10px;
        }
        &-link{
          & a{
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px){
  .projects{
    width: 95%;
    padding-top: 80px;
    &-title{
      font-size: 32px; 
    }
    &-container-project{
      display: block;
      height: auto;
      & img {
        width: 100%;
      }  
      &-text{
        & p.title{
          margin-left: 30px;
          line-height: 20px;
          font-size: 16px;
          margin-bottom: 10px;
        }
        &-link{
          & a{
            font-size: 16px;
          }
        }
      }
    }
    .image-container{
      width: 100%;
    }
    .image-description{
      width: 100%;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
@media (max-width: 431px){
  .projects{
    width: 95%;
    padding-top: 80px;
    &-title{
      margin-left: 10px;
      padding-top: 5%;
      font-size: 24px;
      font-family: "Karma", serif;
      font-weight: 600;
    }
    &-container-project{
      display: block;
      height: auto;
      & img {
        width: 100%;
      }  
      &-text{
        & p.title{
          margin-left: 20px;
          line-height: 18px;
          font-size: 16px;
          margin-bottom: 10px;
        }
        &-link{
          & a{
            font-size: 14px;
          }
        }
      }
    }
    .image-container{
      width: 100%;
    }
    .image-description{
      width: 100%;
      font-size: 14px;
      line-height: 16px;
    }
  }
}