.projects{
  width: 75%;
  margin: 0 auto;
  font-family: 'Inter Tight', sans-serif;
  padding-bottom: 3vw;
  &-title {
    font-size: 3vw;
    font-family: 'Jim Nightshade', cursive;;
  }
  &-container {
    margin-top: 3vw;
    &-project {
      
      display: flex;
      width: 100%;
      background-color: #F5F8FE;
      margin-bottom: 2%;
      border-radius: 2vw;
      & img {
        cursor: pointer;
        width: 90%;
        height: 100%;
        object-fit: cover;
        margin-left: 10%;
        margin-bottom: 3%;
        margin-top: 3%;
        border-radius: 2vw;
      }
      &-text {
        margin-left: 5%;
        margin-top: 5%;
        & p.title{
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 3%;  
        }
        &-link {
          margin-top: 10%;
          font-size: 20px;
          margin-left: 10%;
          & a{
            display: block;
            margin-bottom: 10%;
            font-weight: 500;
            color: $dark-color;
          }
        }
      }  
    } 
  }
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%;
}
.image-description {
  font-family: 'Inter Tight', sans-serif;
  width: 90%;
  height: 100%;
  border-radius: 2vw;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  padding-top: 3%;
  top: 3%;
  left: 10%;
  color: $dark-color;
  font-weight: 500;
}

.image-container:hover .image-description {
  display: block;
} 
