@import 'config';
@import 'Navbar';
@import 'Home';
@import 'About';
@import 'Projects';
@import 'Contact';


body {
  background: $lightWhite;
  color: $darkBlue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
.myBody {
  height: 100%;
  width: 100%;
}

